@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

/* header section start  */
header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: right;
    background-image: url(/images/banner/banner3.png);
}

.header-content {
    margin-top: 100px;
    position: absolute;
    margin-left: 650px;
    margin-right: 150px;
}

h1 {
    font-size: 65px;
    color: white;
    margin-bottom: 20px;

}

.hedaer-description {
    font-size: 16px;
    color: white;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px;

}

button {
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
}

a {
    text-decoration: none;
    color: #005FAC;
    font-weight: bold;

}

a:hover {
    color: #398acc;
}

/* header section end  */

/* failure section start  */
.failure-section {
    
    display: flex;
    margin: 10px 100px;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 40px;
}
.failure-image{
    width: 50%;
}
.failure-description{
    width: 50%;
    margin-top: 150px;
}
.fa-solid{
    color: #16D887;
    margin-right: 6px;
}
/* faiure section end */
